// 線などの色
@line-color: #2f51b4;
// 表のヘッダーの色
@table-header-color: rgb(121, 190, 255);

/* 色装飾関係のCSS */
.colors() {
    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    .green {
        color: green;
    }

    .yellow {
        color: yellow;
    }
}

.hackgen {
    font-family: 'HackGen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hackgenNerd {
    font-family: 'HackGenNerd', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.applyCodeBlockFont(@font: "HackGenNerd") {
    pre[data-role=codeBlock] {
        font-family: @font, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.basic() {
    /*background-color: rgb(244, 245, 247);*/
    color           : black;
}

/**
* メイン部分
*/
.main() {
    body {
        .basic();
    }

    // この辺はmarkdown-pdfのstylesフォルダから抜粋。
    h1,
    h2,
    h3 {
        font-weight: normal;
    }

    h1 {
        padding-bottom     : 0.3em;
        line-height        : 1.2;
        border-color       : black;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    h2 {
        position      : relative;
        padding-left  : 18px;
        padding-bottom: 0.3em;
        line-height   : 1.2;
    
        &::before {
            background: @line-color;
            content   : "";
            height    : 20px;
            width     : 5px;
            left      : 0px;
            position  : absolute;
            top       : 3px;
        }
    }

    h3 {
        display      : inline-block;
        border-bottom: solid 1px @line-color;
    }

    img {
        max-width : 100%;
        max-height: 100%;
    }

    hr {
        border       : 0;
        height       : 2px;
        border-bottom: 2px solid;
    }

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }

    table {
        width: 95%;
        margin: auto;
        border-collapse: collapse;
        tr {
            th {
                background-color: @table-header-color;
            }

            th, td {
                border: solid 1px black;
                text-align: center
            }
        }
    }

    .applyCodeBlockFont();

    .colors;

    .right {
        text-align: right
    }

    .center {
        text-align: center
    }

    .left {
        text-align: left
    }

}

/* bodyとmarkdown-preview.markdown-previewに適用して、previewとpdfのCSSを共通にする */
.main;

.markdown-preview.markdown-preview {
    .main;
    .basic();
    @media print {
        p {
            font-size: 12px;
        }
    }
    /*background-color: rgb(244, 247, 244);*/
}